{% extends "a_simple_base.html" %}

{% block hero %}
{% endblock %}

{% block extra_style %}
<style>
    .cart_page {
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
    }
</style>
{% endblock extra_style %}


{% block title %}
    Cart:
{% endblock %}

{% block content %}
<h1>Cart </h1>
    <div class = "cart_page">
        {%if items|length == 0 %}
            <p>Your cart is empty.</p>
        {% else %}
            <ul>
                {% for item in items %}
                    <li>{{ item.name }} 👉 {{ item.path }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>


{% endblock %}
